.slider [class*='swiper-button'] {
  color: white;
  width: 40px;
}
.slider [class*='swiper-button-next'] {
  color: white;
}
.slider [class*='swiper-button-next']::after {
  color: white;
}
.slider [class*='swiper-button-disabled'] {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.slider .swiper-scrollbar {
  background-color: red;
  height: 5px;
  border-radius: 5px;
}

.slider .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: white;
  border-radius: 5px;
}
